<nav>
  <div class="site-title">
    <a href="/"><h1>Noticias Web</h1></a>
    <p>Site de Noticias Para Testes</p>
  </div>
  <ul>
    <li><a href="/">Noticias</a></li>
    <li><a href="/about">Sobre</a></li>
    <li><a href="/blogs/create">Publicar</a></li>
  </ul>
</nav>